## 문제

In [7]:
import pandas as pd

# 데이터프레임 생성
data = [
    ["1,000", "1,100", '1,510'],
    ["1,410", "1,420", '1,790'],
    ["850", "900", '1,185'],
]
columns = ["03/02", "03/03", "03/04"]
df = pd.DataFrame(data=data, columns=columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   03/02   3 non-null      object
 1   03/03   3 non-null      object
 2   03/04   3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

In [3]:
# 쉼표를 제거하고 int로 변환하는 함수 정의 

x = "1,000"
int(x.replace(",", ""))

1000

In [4]:
# 쉼표를 제거하고 int로 변환하는 함수 정의 

x = "1,000"
int(x.replace(",", ""))

def rm_comma(x):
    return int(x.replace(",", ""))

y = "1,000"
print(rm_comma(y))

1000

In [8]:
df["03/02"] = df["03/02"].apply(rm_comma)
df["03/03"] = df["03/03"].apply(rm_comma)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   03/02   3 non-null      int64
 1   03/03   3 non-null      int64
 2   03/04   3 non-null      object
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

# 데이터 불러오기

In [9]:
import pandas as pd 

df1 = pd.read_excel("dataset/ss_ex_1.xlsx")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    object
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 11.0+ KB

C:\Users\campus3S043\Desktop\alphaco_lectures\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [10]:
df1.head(1)

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550

In [11]:
df1['일자'] = pd.to_datetime(df1['일자'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.0 KB

In [13]:
df1.head(1)

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550

In [14]:
import pandas as pd

df2 = pd.read_excel("dataset/ss_ex_1.xlsx" , index_col=0)
df2.head(1)

C:\Users\campus3S043\Desktop\alphaco_lectures\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550

In [16]:
df2.index = pd.to_datetime(df2.index)
df2.head(1), type(df2.index)

(               종가    대비   등락률     시가     고가     저가       거래량           거래대금  \
 일자
 2021-08-13  74400 -2600 -3.38  75800  76000  74100  61270643  4575267536355

                        시가총액       상장주식수
 일자
 2021-08-13  444151821720000  5969782550  ,
 pandas.core.indexes.datetimes.DatetimeIndex)

In [17]:
df3 = pd.read_excel("dataset/ss_ex_1.xlsx" , parse_dates=['일자'])
df3 = df.sort_values('일자')
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 126 to 0
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.9 KB

C:\Users\campus3S043\Desktop\alphaco_lectures\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")