In [1]:
import pandas as pd
import numpy as np
import numpy_financial as npf
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")
from numpy import *

from ggplot import *
from scipy.stats import logistic
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import *
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, export_graphviz
import graphviz
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.svm import SVC, SVR
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler


from linearmodels.iv import IV2SLS
from scipy import stats
from scipy.stats import trim_mean #trimmed mean
from scipy.stats import * #chi2_contingency로 카이제곱통계량계산
from scipy.stats import norm

import keyword
import random

#open api 불러올 때 필요한 것
from urllib.request import urlopen #request package 설치
from bs4 import BeautifulSoup #bs4 package 설치

# 그래프에서 한글 깨지지 않기 위헤 사용함
from matplotlib import rcParams
from matplotlib import font_manager,rc

rcParams['axes.unicode_minus']=False
plt.rcParams['font.family']='Malgun Gothic'
font_name=font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font',family=font_name)

import FinanceDataReader as fdr
import plotly.graph_objects as go
import plotly.subplots as ms
import math

import tensorflow as tf

import qgrid

In [3]:
df=pd.read_csv('c:/temp/final2_20240619.csv')
df.head()

   sex  income  house
0    2    2920      2
1    2    3273      3
2    2     428      2
3    2     654      3
4    1    3334      3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sex     432 non-null    int64
 1   income  432 non-null    int64
 2   house   432 non-null    int64
dtypes: int64(3)
memory usage: 10.2 KB

In [5]:
df.describe()

              sex        income       house
count  432.000000    432.000000  432.000000
mean     1.388889   3347.530093    2.414352
std      0.488063   2325.859450    1.124326
min      1.000000      0.000000    1.000000
25%      1.000000   1629.500000    1.000000
50%      1.000000   2915.500000    3.000000
75%      2.000000   4625.500000    3.000000
max      2.000000  16937.000000    5.000000

In [7]:
df['house'].shape

(432,)

In [8]:
df['house'].head()

0    2
1    3
2    2
3    3
4    3
Name: house, dtype: int64

In [9]:
df1=df[['sex','income']]
df1.head()

   sex  income
0    2    2920
1    2    3273
2    2     428
3    2     654
4    1    3334

In [10]:
df2=df1['income'].groupby(df1['sex'])
df2_1=df2.agg(['mean','std','count'])
df2_1

            mean          std  count
sex
1    3602.681818  2382.786666    264
2    2946.577381  2180.649954    168

In [11]:
# 분자 : z1 남자 소득 평균-여자 소득 평균
z1=3602.681818-2946.577381
z1

656.104437

In [12]:
# 분모 = se
# se 표준오차 = 표본의 표준편차 / 루트 n
# 지금은 남자와 여자의 평균소득의 차이의 se를 계산해야함
se1=(2382.786666**2)/264+(2180.649954**2)/168
se2=np.sqrt(se1)
print(se2)

223.18445299732542

In [13]:
z=z1/se2
print(z)

2.939740775796164

In [14]:
# 파이썬코드로 (z) p-value 값 계산해ㅗㅂ자
p_value=1-norm.cdf(z)
print(p_value)

0.0016424346979684312

In [15]:
# 귀무가설 기각

In [17]:
pd.value_counts(df['house'])

3    189
1    123
2     77
5     27
4     16
Name: house, dtype: int64

In [16]:
#Q7

In [ ]:
pd.crosstab(df2['sex'],df2['job'],margins=True)

In [18]:
255*(255/480)

135.46875

In [19]:
# 이상한데

In [20]:
1-chi2.cdf(7.5,5)

0.18602983360286696