In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("../iris_240930.csv") # ../ : 상위폴더로 이동
df.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [14]:
df = pd.read_csv("iris_240930.csv") 
df.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [10]:
df = pd.read_csv("c:/Archiving/IMDGB/step02_ds_basic/iris_240930.csv") 
df.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [ ]:
excel_df = pd.read_excel("iris_excel_240930.xlsx")
excel_df