In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

from ggplot import *
from scipy.stats import logistic
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import *
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, export_graphviz
import graphviz
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.svm import SVC, SVR
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
file1="c:/temp/final_1.csv"
data1=pd.read_csv(file1)
data1

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [3]:
file2="c:/temp/final_2.csv"
data2=pd.read_csv(file2)
data2

             v1        v2        v3        v4        v5     amount  class
0      1.103215 -0.040296  1.267332  1.289092 -0.735997  12.990000      0
1      1.322707 -0.174041  0.434555  0.576038 -0.836758  16.000000      0
2      1.114008  0.085546  0.493702  1.335760 -0.300189   4.450000      0
3     -1.169423  1.158314  1.406800  0.860189 -0.103810   7.990000      0
4     -0.549626  0.418949  1.729833  0.203065 -0.187012  59.990002      0
...         ...       ...       ...       ...       ...        ...    ...
14099  2.279192 -1.615600 -2.361881 -2.597056  1.167009  19.000000      0
14100  2.018105  0.073226 -1.615154  0.351058  0.333905   1.980000      0
14101 -0.484304  0.035673 -0.151704 -2.219867 -0.664752  68.000000      0
14102 -1.248847  2.279478 -1.144824 -0.263061  0.070912   9.990000      0
14103 -0.268061  2.540315 -1.400915  4.846661  0.639105  12.820000      0

[14104 rows x 7 columns]

In [4]:
file3="c:/temp/final_3.csv"
data3=pd.read_csv(file3)
data3

    id  flexibility  speed  strength
0    1     3.600000   6.11      2.07
1    2     1.120000   0.33      9.01
2    3     8.690000   8.90      3.83
3    4     2.670000   8.61      0.36
4    5     2.780000   1.69      8.64
..  ..          ...    ...       ...
75  76     2.440000   1.60      8.51
76  77     2.340000   1.66      8.91
77  78     5.080000   1.05      5.46
78  79     1.670000   0.87      8.70
79  80     9.520001   9.17      4.21

[80 rows x 4 columns]

In [6]:
# q1

(161)/(212)

0.7594339622641509

In [ ]:
# q2 a
 모르겠음

In [7]:
# q4

1-((9/10)**2+(1/10)**2)

0.17999999999999994

In [8]:
data1

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [9]:
y=data1['medv']
X=data1[['crim','age','black','lstat']]

tree1=DecisionTreeRegressor(max_depth=2, random_state=0)
result1=tree1.fit(X,y)

In [10]:
pred1=result1.predict(X)
mean_squared_error(y,pred1)

28.875782427536233

In [11]:
# q10

np.sqrt(25)

5.0

In [12]:
data2

             v1        v2        v3        v4        v5     amount  class
0      1.103215 -0.040296  1.267332  1.289092 -0.735997  12.990000      0
1      1.322707 -0.174041  0.434555  0.576038 -0.836758  16.000000      0
2      1.114008  0.085546  0.493702  1.335760 -0.300189   4.450000      0
3     -1.169423  1.158314  1.406800  0.860189 -0.103810   7.990000      0
4     -0.549626  0.418949  1.729833  0.203065 -0.187012  59.990002      0
...         ...       ...       ...       ...       ...        ...    ...
14099  2.279192 -1.615600 -2.361881 -2.597056  1.167009  19.000000      0
14100  2.018105  0.073226 -1.615154  0.351058  0.333905   1.980000      0
14101 -0.484304  0.035673 -0.151704 -2.219867 -0.664752  68.000000      0
14102 -1.248847  2.279478 -1.144824 -0.263061  0.070912   9.990000      0
14103 -0.268061  2.540315 -1.400915  4.846661  0.639105  12.820000      0

[14104 rows x 7 columns]

In [15]:
# q13


X=data2[['v1','v2','v3','v4','v5','amount']]
y=data2['class']
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=0)
svc2=SVC(C=1.0,kernel='rbf',gamma='scale',random_state=0)

In [16]:
result2=svc2.fit(X_train,y_train)
result2

SVC(random_state=0)

In [17]:
result2.support_.size

44

In [19]:
# q14
pred2=result2.predict(X_test)
confusion_matrix(y_test,pred2)

array([[4224,    0],
       [   8,    0]], dtype=int64)

In [21]:
# q15

np.exp((-0.5)*((2.5+3)**2+(1.5+1)**2))

1.186112015134383e-08

In [22]:
data3

    id  flexibility  speed  strength
0    1     3.600000   6.11      2.07
1    2     1.120000   0.33      9.01
2    3     8.690000   8.90      3.83
3    4     2.670000   8.61      0.36
4    5     2.780000   1.69      8.64
..  ..          ...    ...       ...
75  76     2.440000   1.60      8.51
76  77     2.340000   1.66      8.91
77  78     5.080000   1.05      5.46
78  79     1.670000   0.87      8.70
79  80     9.520001   9.17      4.21

[80 rows x 4 columns]

In [24]:
# q17

X=data3[['strength','speed','flexibility']]
X_scaled=StandardScaler().fit_transform(X)

kmeans_4=KMeans(n_clusters=4,random_state=0,n_init=10,max_iter=100)
kmeans_4.fit(X)

KMeans(max_iter=100, n_clusters=4, random_state=0)

In [25]:
kmeans_4.labels_

array([3, 0, 1, 3, 0, 0, 1, 1, 1, 0, 2, 0, 1, 3, 2, 2, 1, 1, 2, 2, 0, 0,
       0, 0, 1, 2, 2, 3, 3, 2, 2, 0, 3, 0, 1, 0, 0, 2, 0, 0, 0, 2, 0, 2,
       0, 0, 0, 0, 3, 2, 3, 1, 2, 1, 0, 2, 2, 1, 0, 1, 0, 0, 0, 1, 0, 3,
       0, 0, 0, 2, 0, 2, 0, 2, 3, 0, 0, 2, 0, 1])

In [26]:
kmeans_4.inertia_

129.87357105444033

In [27]:
X=data3[['strength','speed','flexibility']]
X_scaled=StandardScaler().fit_transform(X)

kmeans_3=KMeans(n_clusters=3,random_state=0,n_init=10,max_iter=100)
kmeans_3.fit(X)

KMeans(max_iter=100, n_clusters=3, random_state=0)

In [30]:
kmeans_3.inertia_

387.25142255309606

In [31]:
kmeans_5=KMeans(n_clusters=5,random_state=0,n_init=10,max_iter=100)
kmeans_5.fit(X)
kmeans_5.inertia_

107.9795806373451

In [32]:
# q2

(212/569)*(161/212)*(180/212)

0.24024272971449412

In [33]:
(357/569)*(104/357)*(47/357)

0.02406305228594074

In [34]:
# q1 다시
161/212

0.7594339622641509

In [35]:
(161/265)*(265/569)/(212/569)

0.759433962264151

In [36]:
(2.5+3)**2+(1.5+1)**2

36.5

In [37]:
np.exp((-0.5)*36.5)

1.186112015134383e-08

In [38]:
(2.5-1.5)**2+(-3+1)**2

5.0

In [39]:
np.exp((-0.5)*5)

0.0820849986238988

In [40]:
1-((1/10)**2+(9/10)**2)

0.17999999999999994