In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import yfinance as yf
# pip install yfinance --upgrade --no-cache-dir <- 이거 bash terminal 에서 실행
from pandas import DataFrame

# 한글 폰트 실행
from matplotlib import rcParams
from matplotlib import font_manager,rc
rcParams['axes.unicode_minus']=False
plt.rcParams['font.family']='Malgun Gothic'
font_name=font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font',family=font_name)

# 시계열 데이터 불러올 때, 날짜 인덱스로 불러올 때
- , index_col = 0 : 날짜

In [4]:
df=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx")
df.head()

C:\Archiving\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    object
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 11.0+ KB

In [9]:
# index_col = 0

In [6]:
df1 = pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", index_col=0 )
df1.head()

C:\Archiving\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 127 entries, 2021/08/13 to 2021/02/15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9+ KB

In [8]:
type(df1.index)

pandas.core.indexes.base.Index

In [11]:
# , parse_dates = ['컬럼 명']
df2=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", parse_dates=['일자'])
df2.head()

C:\Archiving\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [12]:
df2. index

RangeIndex(start=0, stop=127, step=1)

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.0 KB