# 데이터프레임 생성

In [1]:
import pandas as pd
import numpy as np

print(np.__version__)
print(pd.__version__)

2.1.1
2.2.3

## 생성 장법 2가지
- 1) 리스트 활용
- 2) 딕셔너리 활용 (강사 선호)

## 리스트 활용
- 중첩리스트로 만들어야 한다

In [7]:
data = [
    ["039900", "알파코", "100000", 10.05],
    ["039910", "A", "5000", 1.05],
    ["039920", "B", "100", 1.28]
]

columns = ["종목코드", "종목명", "현재가", "등락률" ]

df = pd.DataFrame(data = data , columns = columns) # colmns 라는 매개변수 써야 열 맞게 들어감
df

     종목코드  종목명     현재가    등락률
0  039900  알파코  100000  10.05
1  039910    A    5000   1.05
2  039920    B     100   1.28

## 딕셔너리 활용
-

In [8]:
data2 = {
    "종목코드" : ['039900' , '039910', '039920'],
    "종목명" : ["알파코", "A", "B"]
}

df2=pd.DataFrame(data = data2)
df2

     종목코드  종목명
0  039900  알파코
1  039910    A
2  039920    B