In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance as yf
# pip install yfinance --upgrade --no-cache-dir <- 이거 bash terminal 에서 실행
from pandas import DataFrame

# 한글 폰트 실행
from matplotlib import rcParams
from matplotlib import font_manager,rc
rcParams['axes.unicode_minus']=False
plt.rcParams['font.family']='Malgun Gothic'
font_name=font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font',family=font_name)

# 시계열 데이터 불러올 때, 날짜 인덱스로 불러올 때

In [48]:
df=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx")
df.head()

C:\Archiving\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    object
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 11.0+ KB

In [50]:
# 일자 type이 object. 날짜 데이터를 아예 인덱스로 불러오기 위해서는, 불러 올 때, index_col = 0 으로 하면 됨.
df2=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", index_col=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    object
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: float64(1), int64(9), object(1)
memory usage: 11.0+ KB

C:\Archiving\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [51]:
df2.head()

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [52]:
df1=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", parse_dates = ['일자']) 
# 어떤게 날짜인 컬럼인지 알면, 컬럼명 바로 parse_dates로 쓰면 됨ㄹ
df1.head()

C:\Archiving\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
0,2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
1,2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2,2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
3,2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
4,2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      127 non-null    datetime64[ns]
 1   종가      127 non-null    int64
 2   대비      127 non-null    int64
 3   등락률     127 non-null    float64
 4   시가      127 non-null    int64
 5   고가      127 non-null    int64
 6   저가      127 non-null    int64
 7   거래량     127 non-null    int64
 8   거래대금    127 non-null    int64
 9   시가총액    127 non-null    int64
 10  상장주식수   127 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 11.0 KB

In [54]:
# parse_dates = ['컬럼 명'] : 해당 컬럼이 날짜 형(datetime64[ns])이다. 라는 뜻
# 시계열 자료를 다룰 때는, 기본적으로 datete time으로 날짜 컬럼이 지정 되어 있어야 한다.
# 그럼 위에 자료를 날짜 데이터로 변환해야 한다. 해보자

In [55]:
df2=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", index_col=0)
df2.head()

C:\Archiving\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021/08/13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021/08/12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021/08/11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021/08/10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021/08/09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [56]:
df2.index = pd.to_datetime(df2.index)
df2.head(1), type(df2.index)
# 날짜 인덱스를 type을 날짜 형으로 바꾸는 것!! (datetime)

(               종가    대비   등락률     시가     고가     저가       거래량           거래대금  \
 일자
 2021-08-13  74400 -2600 -3.38  75800  76000  74100  61270643  4575267536355

                        시가총액       상장주식수
 일자
 2021-08-13  444151821720000  5969782550  ,
 pandas.core.indexes.datetimes.DatetimeIndex)

In [57]:
#df2['일자'] = pd.to_date()
#df2.info()
# pandas.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=False, format=None, exact=<no_default>, unit=None, infer_datetime_format=<no_default>, origin='unix', cache=True)

In [58]:
df4=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", parse_dates=['일자'], index_col=0)
df4.head()

C:\Archiving\venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,종가,대비,등락률,시가,고가,저가,거래량,거래대금,시가총액,상장주식수
일자,,,,,,,,,,
2021-08-13,74400,-2600,-3.38,75800,76000,74100,61270643,4575267536355,444151821720000,5969782550
2021-08-12,77000,-1500,-1.91,77100,78200,76900,42365223,3276635421700,459673256350000,5969782550
2021-08-11,78500,-1700,-2.12,79600,79800,78500,30241137,2389977254924,468627930175000,5969782550
2021-08-10,80200,-1300,-1.60,82300,82400,80100,20362639,1643107615500,478776560510000,5969782550
2021-08-09,81500,0,0.00,81500,82300,80900,15522581,1267668377900,486537277825000,5969782550

In [59]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 127 entries, 2021-08-13 to 2021-02-15
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종가      127 non-null    int64
 1   대비      127 non-null    int64
 2   등락률     127 non-null    float64
 3   시가      127 non-null    int64
 4   고가      127 non-null    int64
 5   저가      127 non-null    int64
 6   거래량     127 non-null    int64
 7   거래대금    127 non-null    int64
 8   시가총액    127 non-null    int64
 9   상장주식수   127 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 10.9 KB

In [60]:
type(df4.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [61]:
df4.index

DatetimeIndex(['2021-08-13', '2021-08-12', '2021-08-11', '2021-08-10',
               '2021-08-09', '2021-08-06', '2021-08-05', '2021-08-04',
               '2021-08-03', '2021-08-02',
               ...
               '2021-02-26', '2021-02-25', '2021-02-24', '2021-02-23',
               '2021-02-22', '2021-02-19', '2021-02-18', '2021-02-17',
               '2021-02-16', '2021-02-15'],
              dtype='datetime64[ns]', name='일자', length=127, freq=None)

In [62]:
# 시계열 데이터일 때 이렇게 불러오는 것 매우 권장
# df4=pd.read_excel("c:/Archiving/IMDGB/step02_ds_basic/dataset/ss_ex_1.xlsx", parse_dates=['일자'], index_col=0)

# filter 메서드

In [63]:
from pandas import DataFrame

data = [
    [1416, 1416, 2994, 1755],
    [6.42, 17.63, 21.09, 13.93],
    [1.10, 1.49, 2.06, 1.88]
]

columns = ["2018/12", "2019/12", "2020/12", "2021/12(E)"]
index = ["DPS", "PER", "PBR"]

df = DataFrame(data=data, index=index, columns=columns)
df

     2018/12  2019/12  2020/12  2021/12(E)
DPS  1416.00  1416.00  2994.00     1755.00
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, DPS to PBR
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   2018/12     3 non-null      float64
 1   2019/12     3 non-null      float64
 2   2020/12     3 non-null      float64
 3   2021/12(E)  3 non-null      float64
dtypes: float64(4)
memory usage: 120.0+ bytes

In [65]:
df.filter(items=['2018/12'])

     2018/12
DPS  1416.00
PER     6.42
PBR     1.10

In [66]:
df.filter(items=['PER'],axis=0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93

In [67]:
# filter도 행과 열 조회하는 거임. iloc, loc 처럼
# 근데 왜 filter 씀?
# 정규표현식 때문. 
# 정규표현식 활용해서 행과 열을 조회할 수 있음

In [68]:
# 정규 표현식으로 활용해서 행과 열 조회
df.filter(regex='2020')

     2020/12
DPS  2994.00
PER    21.09
PBR     2.06

In [69]:
# 정규표현식 ? 블로그

In [70]:
# 응 뭔가 달라

In [71]:
# 행을 조회할 건데, R이 들어간 것만 조회
df.filter(regex='R', axis = 0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [72]:
# 행을 조회할 건데, R로 끝나는 모든 패턴을 조회
df.filter(regex='R$', axis = 0)

     2018/12  2019/12  2020/12  2021/12(E)
PER     6.42    17.63    21.09       13.93
PBR     1.10     1.49     2.06        1.88

In [ ]:
# 정규표현식 사용하면 원하는 행과 열 뽑아 낼 수 있음
# ex) 카드 명이 상품ㅁ명 수천개인데, 다 텍스트임. 근데 그 네임ㅇ에 원칙이 있음. 그러면 키워드로 원하는 행 뽑아 낼 수 있음.