In [1]:
import pandas as pd
import numpy as np

In [14]:
estate=pd.read_csv("seoul_real_estate.csv")
estate

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BONBEON,BUBEON,BLDG_NM,...,OBJ_AMT,BLDG_AREA,TOT_AREA,FLOOR,RIGHT_GBN,CNTL_YMD,BUILD_YEAR,HOUSE_TYPE,REQ_GBN,RDEALER_LAWDNM
0,2023,11650,서초구,10800,서초동,1.0,대지,1328.0,11.0,대우도씨에빛2,...,38500,38.81,50.85,14.0,NaN,NaN,2005.0,오피스텔,중개거래,서울 서초구
1,2023,11620,관악구,10200,신림동,1.0,대지,1567.0,25.0,태성휴빌3차,...,17200,24.76,15.99,6.0,NaN,NaN,2015.0,연립다세대,직거래,NaN
2,2023,11530,구로구,10200,구로동,1.0,대지,44.0,8.0,비즈트위트 오렌지,...,12000,17.81,26.91,18.0,NaN,NaN,2013.0,오피스텔,직거래,NaN
3,2023,11410,서대문구,11800,홍은동,NaN,NaN,NaN,NaN,NaN,...,45000,39.67,142.00,0.0,NaN,NaN,1988.0,단독다가구,중개거래,서울 서대문구
4,2023,11380,은평구,11400,진관동,1.0,대지,100.0,3.0,아이파크 포레스트 게이트,...,14400,24.91,35.78,24.0,NaN,NaN,2013.0,오피스텔,중개거래,서울 은평구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10995,2023,11290,성북구,13900,석관동,1.0,대지,10.0,0.0,두산,...,97000,164.92,0.00,5.0,NaN,NaN,1998.0,아파트,중개거래,서울 성북구
10996,2023,11740,강동구,10900,천호동,1.0,대지,201.0,3.0,이스투아빌,...,37900,40.47,26.60,5.0,NaN,NaN,2023.0,연립다세대,직거래,NaN
10997,2023,11350,노원구,10300,공릉동,1.0,대지,747.0,0.0,두산힐스빌아파트,...,85000,114.72,0.00,13.0,NaN,NaN,2000.0,아파트,중개거래,서울 노원구
10998,2023,11500,강서구,10200,등촌동,1.0,대지,707.0,0.0,"등촌7,8단지주공아파트",...,50000,41.85,0.00,7.0,NaN,NaN,1994.0,아파트,중개거래,"서울 강서구, 서울 도봉구"
10999,2023,11500,강서구,10200,등촌동,1.0,대지,715.0,0.0,등촌동아이파크,...,87000,85.00,0.00,11.0,NaN,NaN,2004.0,아파트,중개거래,서울 강서구

In [6]:
# 03/02 , 03/03 컬럼만 int 형으로 변경
# 데이터프레임 생성
data = [
    ["1,000", "1,100", '1,510'],
    ["1,410", "1,420", '1,790'],
    ["850", "900", '1,185'],
]
columns = ["03/02", "03/03", "03/04"]
df = pd.DataFrame(data=data, columns=columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   03/02   3 non-null      object
 1   03/03   3 non-null      object
 2   03/04   3 non-null      object
dtypes: object(3)
memory usage: 204.0+ bytes

In [7]:
x = "1,000" # 애를 먼저 int로 바꿔보자
x.replace("," ,"")

'1000'

In [8]:
# 먼저 쉼표 제거 했음

In [10]:
int(x.replace(",","")) # 형 변환함! 이걸 사용자 정의 함수로 써서 할거임

1000

In [11]:
# 사용자 정의 함수
def rm_comma(x):
    return int(x.replace(",",""))

# 사용자 정의 함수 잘 돌아가는 지 확인
y = "1,000"
print(rm_comma(y))

1000

In [12]:
# 이 단계를 거쳐서 하고, pandas 확인

In [13]:
df["03/02"] = df["03/02"].apply(rm_comma)
df["03/03"] = df["03/03"].apply(rm_comma)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   03/02   3 non-null      int64
 1   03/03   3 non-null      int64
 2   03/04   3 non-null      object
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

# 데이터 시각화

In [15]:
import seaborn as sns

In [16]:
sns.__version__

'0.13.2'