In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")


from ggplot import *
from scipy.stats import logistic
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import *
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor, export_graphviz
import graphviz
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.svm import SVC, SVR
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler


from linearmodels.iv import IV2SLS

pd.dataFrame 어쩌구저저구

# 5 Data input and saving

In [2]:
data1=pd.read_excel('c:/temp/auto.xlsx')

In [3]:
auto

NameError: name 'auto' is not defined

In [4]:
data1

,AMC Concord,4099,22,3,2.5,11,2930,186,40,121,3.5799999237060547,Domestic
0,AMC Pacer,4749,17,3.0,3.0,11,3350,173,40,258,2.53,Domestic
1,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
2,Buick Century,4816,20,3.0,4.5,16,3250,196,40,196,2.93,Domestic
3,Buick Electra,7827,15,4.0,4.0,20,4080,222,43,350,2.41,Domestic
4,Buick LeSabre,5788,18,3.0,4.0,21,3670,218,43,231,2.73,Domestic
...,...,...,...,...,...,...,...,...,...,...,...,...
68,VW Dasher,7140,23,4.0,2.5,12,2160,172,36,97,3.74,Foreign
69,VW Diesel,5397,41,5.0,3.0,15,2040,155,35,90,3.78,Foreign
70,VW Rabbit,4697,25,4.0,3.0,15,1930,155,35,89,3.78,Foreign
71,VW Scirocco,6850,25,4.0,2.0,16,1990,156,36,97,3.78,Foreign
72,Volvo 260,11995,17,5.0,2.5,14,3170,193,37,163,2.98,Foreign

In [5]:
data2=pd.read_csv('c:/temp/barium.csv')
data2 # pandas dataframe

,chnimp,bchlimp,befile6,affile6,afdec6,befile12,affile12,afdec12,chempi,gas,...,apr,may,jun,jul,aug,sep,oct,nov,dec,percchn
0,220.462010,9578.3760,0,0,0,0,0,0,100.1,7830000128,...,0,0,0,0,0,0,0,0,0,2.301664
1,94.797997,11219.4800,0,0,0,0,0,0,100.9,8819999744,...,0,0,0,0,0,0,0,0,0,0.844941
2,219.357500,9719.9004,0,0,0,0,0,0,101.1,8449999872,...,1,0,0,0,0,0,0,0,0,2.256788
3,317.421510,12920.9500,0,0,0,0,0,0,102.5,9240000512,...,0,1,0,0,0,0,0,0,0,2.456642
4,114.639000,9790.4463,0,0,0,0,0,0,104.1,9150000128,...,0,0,1,0,0,0,0,0,0,1.170927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,589.422000,31686.8590,0,0,0,0,0,0,154.8,9420000256,...,0,0,0,0,1,0,0,0,0,1.860146
127,529.733520,16370.3400,0,0,0,0,0,0,155.3,8789999616,...,0,0,0,0,0,1,0,0,0,3.235935
128,968.037480,15653.9600,0,0,0,0,0,0,156.7,8990000128,...,0,0,0,0,0,0,1,0,0,6.183978
129,794.060000,45716.6090,0,0,0,0,0,0,157.5,8920000512,...,0,0,0,0,0,0,0,1,0,1.736918
130,1087.806000,29580.5000,0,0,0,0,0,0,159.0,9539999744,...,0,0,0,0,0,0,0,0,1,3.677443

# 6 Data description  기술 통계 and calculation

## -> summary stattistics
### dataframe 의 통계량 보기

#### mean 평균, std 표편, skew 왜도, kurtosis 첨도


#### skewness 왜도
- 왼쪽으로 or 오른쪽으로 치우진 정도
- 양, 0, 음의 값
- 필기 확인

#### kurtosis 첨도
- 양, 0, 음의 값
- 뾰족한 점도
- 분포가 뾰족할 수록 꼬리가 두꺼워진다(필기)
- 꼬리가 두껍다: 아주 특이하게 양쪽에서 아주 큰 값과 작은 값이 많이 나타난다.(fat tail) ex. 주식
- 완만하면 꼬리 얇아진다 ( ㅇㅇㅇ tail)

In [6]:
data2

,chnimp,bchlimp,befile6,affile6,afdec6,befile12,affile12,afdec12,chempi,gas,...,apr,may,jun,jul,aug,sep,oct,nov,dec,percchn
0,220.462010,9578.3760,0,0,0,0,0,0,100.1,7830000128,...,0,0,0,0,0,0,0,0,0,2.301664
1,94.797997,11219.4800,0,0,0,0,0,0,100.9,8819999744,...,0,0,0,0,0,0,0,0,0,0.844941
2,219.357500,9719.9004,0,0,0,0,0,0,101.1,8449999872,...,1,0,0,0,0,0,0,0,0,2.256788
3,317.421510,12920.9500,0,0,0,0,0,0,102.5,9240000512,...,0,1,0,0,0,0,0,0,0,2.456642
4,114.639000,9790.4463,0,0,0,0,0,0,104.1,9150000128,...,0,0,1,0,0,0,0,0,0,1.170927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,589.422000,31686.8590,0,0,0,0,0,0,154.8,9420000256,...,0,0,0,0,1,0,0,0,0,1.860146
127,529.733520,16370.3400,0,0,0,0,0,0,155.3,8789999616,...,0,0,0,0,0,1,0,0,0,3.235935
128,968.037480,15653.9600,0,0,0,0,0,0,156.7,8990000128,...,0,0,0,0,0,0,1,0,0,6.183978
129,794.060000,45716.6090,0,0,0,0,0,0,157.5,8920000512,...,0,0,0,0,0,0,0,1,0,1.736918
130,1087.806000,29580.5000,0,0,0,0,0,0,159.0,9539999744,...,0,0,0,0,0,0,0,0,1,3.677443

In [7]:
print(data2)

          chnimp     bchlimp  befile6  affile6  afdec6  befile12  affile12  \
0     220.462010   9578.3760        0        0       0         0         0
1      94.797997  11219.4800        0        0       0         0         0
2     219.357500   9719.9004        0        0       0         0         0
3     317.421510  12920.9500        0        0       0         0         0
4     114.639000   9790.4463        0        0       0         0         0
..           ...         ...      ...      ...     ...       ...       ...
126   589.422000  31686.8590        0        0       0         0         0
127   529.733520  16370.3400        0        0       0         0         0
128   968.037480  15653.9600        0        0       0         0         0
129   794.060000  45716.6090        0        0       0         0         0
130  1087.806000  29580.5000        0        0       0         0         0

     afdec12  chempi         gas  ...  apr  may  jun  jul  aug  sep  oct  nov  \
0          0   100.1  7830000128  ...    0    0    0    0    0    0    0    0
1          0   100.9  8819999744  ...    0    0    0    0    0    0    0    0
2          0   101.1  8449999872  ...    1    0    0    0    0    0    0    0
3          0   102.5  9240000512  ...    0    1    0    0    0    0    0    0
4          0   104.1  9150000128  ...    0    0    1    0    0    0    0    0
..       ...     ...         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
126        0   154.8  9420000256  ...    0    0    0    0    1    0    0    0
127        0   155.3  8789999616  ...    0    0    0    0    0    1    0    0
128        0   156.7  8990000128  ...    0    0    0    0    0    0    1    0
129        0   157.5  8920000512  ...    0    0    0    0    0    0    0    1
130        0   159.0  9539999744  ...    0    0    0    0    0    0    0    0

     dec   percchn
0      0  2.301664
1      0  0.844941
2      0  2.256788
3      0  2.456642
4      0  1.170927
..   ...       ...
126    0  1.860146
127    0  3.235935
128    0  6.183978
129    0  1.736918
130    1  3.677443

[131 rows x 31 columns]

In [8]:
data2.head() # .head() 앞에 몇(5) 개만 보여준다

,chnimp,bchlimp,befile6,affile6,afdec6,befile12,affile12,afdec12,chempi,gas,...,apr,may,jun,jul,aug,sep,oct,nov,dec,percchn
0,220.462010,9578.3760,0,0,0,0,0,0,100.1,7830000128,...,0,0,0,0,0,0,0,0,0,2.301664
1,94.797997,11219.4800,0,0,0,0,0,0,100.9,8819999744,...,0,0,0,0,0,0,0,0,0,0.844941
2,219.357500,9719.9004,0,0,0,0,0,0,101.1,8449999872,...,1,0,0,0,0,0,0,0,0,2.256788
3,317.421510,12920.9500,0,0,0,0,0,0,102.5,9240000512,...,0,1,0,0,0,0,0,0,0,2.456642
4,114.639000,9790.4463,0,0,0,0,0,0,104.1,9150000128,...,0,0,1,0,0,0,0,0,0,1.170927

In [9]:
data2.tail()

,chnimp,bchlimp,befile6,affile6,afdec6,befile12,affile12,afdec12,chempi,gas,...,apr,may,jun,jul,aug,sep,oct,nov,dec,percchn
126,589.42200,31686.859,0,0,0,0,0,0,154.8,9420000256,...,0,0,0,0,1,0,0,0,0,1.860146
127,529.73352,16370.340,0,0,0,0,0,0,155.3,8789999616,...,0,0,0,0,0,1,0,0,0,3.235935
128,968.03748,15653.960,0,0,0,0,0,0,156.7,8990000128,...,0,0,0,0,0,0,1,0,0,6.183978
129,794.06000,45716.609,0,0,0,0,0,0,157.5,8920000512,...,0,0,0,0,0,0,0,1,0,1.736918
130,1087.80600,29580.500,0,0,0,0,0,0,159.0,9539999744,...,0,0,0,0,0,0,0,0,1,3.677443

In [11]:
# 위의 31 columns : chnimp bchlimp ... 등이 31개 있다. 
# 이 중 하나의 칼럼만 지정하고 싶다 -> ['칼럼이름'] 사용

data2['chnimp']

0       220.462010
1        94.797997
2       219.357500
3       317.421510
4       114.639000
          ...
126     589.422000
127     529.733520
128     968.037480
129     794.060000
130    1087.806000
Name: chnimp, Length: 131, dtype: float64

In [13]:
# 칼럼을 두개 지정하고 싶다면 ? -> [['칼럼이름','칼럼이름']]

data2[['chnimp','bchlimp']]

          chnimp     bchlimp
0     220.462010   9578.3760
1      94.797997  11219.4800
2     219.357500   9719.9004
3     317.421510  12920.9500
4     114.639000   9790.4463
..           ...         ...
126   589.422000  31686.8590
127   529.733520  16370.3400
128   968.037480  15653.9600
129   794.060000  45716.6090
130  1087.806000  29580.5000

[131 rows x 2 columns]

In [14]:
# 하나 칼럼 지정할 때도 [['칼럼이름']] 이렇게 써도 됨

data2[['bchlimp']]

        bchlimp
0     9578.3760
1    11219.4800
2     9719.9004
3    12920.9500
4     9790.4463
..          ...
126  31686.8590
127  16370.3400
128  15653.9600
129  45716.6090
130  29580.5000

[131 rows x 1 columns]

In [16]:
data2['chnimp'].mean()

589.236995

In [18]:
data2['chnimp'].std()
# 실제로 std 어떻게 구하는지 앍 ㅗ있어야함. 편차제곱의평균의 루트

349.54155187578453

In [19]:
data2['chnimp'].skew()

0.8582378497720544

In [21]:
data2['chnimp'].kurtosis()

0.6578490924101974

In [23]:
# 기술통계 값들 한꺼번에 나오게 하기 -> .describe()

# 값이 총 131개 있다, 평균, 표편, 분위수(quantile), 등등 나옴

data2['chnimp'].describe()

count     131.000000
mean      589.236995
std       349.541552
min        39.682999
25%       317.880995
50%       535.718020
75%       821.356755
max      1794.516000
Name: chnimp, dtype: float64

In [25]:
# 전체 data에 대해 기술통계량

# 모든 변수에 대한 기술통계량이 나온다

data2.describe()

,chnimp,bchlimp,befile6,affile6,afdec6,befile12,affile12,afdec12,chempi,gas,...,apr,may,jun,jul,aug,sep,oct,nov,dec,percchn
count,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,1.310000e+02,...,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000,131.000000
mean,589.236995,19157.173172,0.045802,0.045802,0.045802,0.091603,0.091603,0.091603,122.831297,8.518550e+09,...,0.083969,0.083969,0.083969,0.083969,0.083969,0.083969,0.083969,0.083969,0.083969,3.272603
std,349.541552,7481.549846,0.209857,0.209857,0.209857,0.289572,0.289572,0.289572,14.235081,5.629280e+08,...,0.278407,0.278407,0.278407,0.278407,0.278407,0.278407,0.278407,0.278407,0.278407,1.985512
min,39.682999,8302.168000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.100000,6.900000e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.172642
25%,317.880995,13765.315000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,112.600000,8.210000e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.805929
50%,535.718020,17716.330000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,120.200000,8.520000e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.782447
75%,821.356755,23646.409000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,131.850000,8.860000e+09,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.249461
max,1794.516000,45716.609000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,159.000000,1.020000e+10,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.232608

### 상관계수 correlation coefficient
- 두 변수가 같은 방향으로 움직이는 지>0, 다른 방향으로 움직이는 지<0
- Pearson's correlation
- 상관계수 계산법
- correlation(상관관계) 과 causality(인과관계)의 차이
    - 상관관계엔 원인과 결과가 없음. 관계가 있다. 그냥
    - 인과관계는 원인과 결과가 있는 관계
    - 상관관계가 더 넓은 개념

In [26]:
# 두 변수의 상관계수 구해보자
data2[['chnimp','bchlimp']].corr()

          chnimp  bchlimp
chnimp   1.00000  0.27206
bchlimp  0.27206  1.00000

In [27]:
# 0.27206 -> 양수, 두 변수 정비례관계, 양의 상관관계를 가지고 있다.

### numpy 모듈의 활용

- Series라는 함수를 사용하면 직접 데이터를 입력할 수도 있다

In [31]:
cashflow=pd.Series(index=[0,1,2,3,4,5],name='Cashflow',data=[-107,5,5,5,5,105])
cashflow
# 정부가 107억 투자, 5억씩 번거 .. 초반엔 수익이 잘 안난다. 마지막 해에 105억 나는 '투자안'
# 투자해야할까?
# 107억 투자해서 125억 버는데, 할인 적용해서 '순현재가치 npv' 를 보고 판단해야함

0   -107
1      5
2      5
3      5
4      5
5    105
Name: Cashflow, dtype: int64

### 내부수익률 IRR Internal Rate of Return 계산하는 방법

- 투자안을 보고 투자를 결정하는 방법 중 하나
- 내부수익률 정의: npv를 0으로 만드는 할인율 = IRR
- 내부수익률이 높을 수록 투자해야함.. 
- 이자비용보다 IRR이 높다면 '투자 선택 !'
- numpy 패키지 안에 안에 IRR 계산해주는 함수 있음
- numpy, numpy_financial as npf

In [33]:
pip install numpy_financial

Collecting numpy_financial
  Downloading numpy_financial-1.0.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\chaer\anaconda3\lib\site-packages (from numpy_financial) (1.21.5)
Installing collected packages: numpy_financial
Successfully installed numpy_financial-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [34]:
import numpy_financial as npf

In [36]:
# IRR 계산하는 함수 : npf.irr()

npf.irr(cashflow)

0.0345174840859952

In [38]:
# 내부수익률 : 3.4% 정도, 현재 시장금리가 3%라면 투자해야함

# 시험무넺에서 현제 금리가 얼마인지 주어지면 보고 비교하면됨

# LN 1 끝


# LN 2 시작 -- Intro
# 주택실거래가 데이터 분석 (1)