In [ ]:
# Lecture Note 4

In [1]:
min(0,1)

0

In [2]:
max(0,1)

1

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame([[4,9]]*3, columns=['A', 'B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [6]:
df.apply(np.sqrt)  # built-in function

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [7]:
# 사용자 정의 함수 
def negative(x):
    if x<0:
        return 'negative'
    return 'non-negative'

In [8]:
negative(-3)

'negative'

In [10]:
negative(5)

'non-negative'

In [11]:
def f1(x, a=1, b=1):
    return a*b*x

In [12]:
f1(2,3,4)

24

In [13]:
f1(2)

2

In [14]:
f1(2,4)

8

In [15]:
# 상장회사 종목 정보 
df=pd.read_excel('c:/temp100/stock_list.xlsx')
df

,표준코드,단축코드,한글 종목명,한글 종목약명,영문 종목명,상장일,시장구분,증권구분,소속부,주식종류,액면가,상장주식수
0,KR7098120009,098120,(주)마이크로컨텍솔루션,마이크로컨텍솔,"Micro Contact Solution Co.,Ltd.",2008/09/23,KOSDAQ,주권,벤처기업부,보통주,500,8312766
1,KR7131100000,131100,(주)스카이이앤엠,스카이이앤엠,"SKY E&M Co., Ltd.",2011/06/14,KOSDAQ,주권,관리종목(소속부없음),보통주,500,11642629
2,KR7009520008,009520,(주)포스코엠텍,포스코엠텍,"POSCO M-TECH CO.,LTD.",1997/11/10,KOSDAQ,주권,우량기업부,보통주,500,41642703
3,KR7095570008,095570,AJ네트웍스보통주,AJ네트웍스,"AJ Networks Co.,Ltd.",2015/08/21,KOSPI,주권,NaN,보통주,1000,46822295
4,KR7006840003,006840,AK홀딩스보통주,AK홀딩스,"AK Holdings, Inc.",1999/08/11,KOSPI,주권,NaN,보통주,5000,13247561
...,...,...,...,...,...,...,...,...,...,...,...,...
2603,KR7000542001,000547,흥국화재해상보험2우선주(신형),흥국화재2우B,HeungkukFire&MarineIns(2PB),1999/08/09,KOSPI,주권,NaN,신형우선주,5000,153600
2604,KR7000540005,000540,흥국화재해상보험보통주,흥국화재,HeungkukFire&MarineInsurance,1974/12/05,KOSPI,주권,NaN,보통주,5000,64242645
2605,KR7003280005,003280,흥아해운보통주,흥아해운,HeungaShipping,1976/06/29,KOSPI,주권,NaN,보통주,500,240424899
2606,KR7037440005,037440,희림종합건축사사무소,희림,Heerim Architects & Planners,2000/02/03,KOSDAQ,주권,중견기업부,보통주,500,13922475
2607,KR7238490007,238490,힘스,힘스,"HIMS CO., LTD.",2017/07/20,KOSDAQ,주권,우량기업부,보통주,500,11312236

In [16]:
df1=df[['단축코드','한글 종목명']]
df1

        단축코드            한글 종목명
0     098120      (주)마이크로컨텍솔루션
1     131100         (주)스카이이앤엠
2     009520          (주)포스코엠텍
3     095570         AJ네트웍스보통주
4     006840          AK홀딩스보통주
...      ...               ...
2603  000547  흥국화재해상보험2우선주(신형)
2604  000540       흥국화재해상보험보통주
2605  003280           흥아해운보통주
2606  037440        희림종합건축사사무소
2607  238490                힘스

[2608 rows x 2 columns]

In [17]:
df1.tail()

        단축코드            한글 종목명
2603  000547  흥국화재해상보험2우선주(신형)
2604  000540       흥국화재해상보험보통주
2605  003280           흥아해운보통주
2606  037440        희림종합건축사사무소
2607  238490                힘스

In [18]:
df1.head()

     단축코드        한글 종목명
0  098120  (주)마이크로컨텍솔루션
1  131100     (주)스카이이앤엠
2  009520      (주)포스코엠텍
3  095570     AJ네트웍스보통주
4  006840      AK홀딩스보통주

In [21]:
# data frame: loc, iloc 
df1.loc[df1['한글 종목명'].isin(['삼성전자보통주'])]

       단축코드   한글 종목명
836  005930  삼성전자보통주

In [22]:
# frequency table 
pd.value_counts(df['시장구분'])

c:\temp3\ipykernel_334320\3348144377.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df['시장구분'])

시장구분
KOSDAQ    1533
KOSPI      943
KONEX      132
Name: count, dtype: int64

In [23]:
pd.value_counts(df['시장구분'], normalize=True)

c:\temp3\ipykernel_334320\721292801.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df['시장구분'], normalize=True)

시장구분
KOSDAQ    0.587807
KOSPI     0.361580
KONEX     0.050613
Name: proportion, dtype: float64

In [24]:
pd.crosstab(df['시장구분'])

TypeError: crosstab() missing 1 required positional argument: 'columns'

In [25]:
pd.crosstab(df['시장구분'], 'no')

col_0     no
시장구분
KONEX    132
KOSDAQ  1533
KOSPI    943