## 문제
- 주어진 데이터(data/insectsprays.csv)에는 여러 지역에서 스프레이를 뿌리기 전에 측정한 곤충의 수와 스프레이를 뿌린 다음의 곤충의 수가 저장되어 있다. 해당 스프레이가 구제 효과가 있는지(즉, 스프레이를 뿌린 뒤 곤충의 수가 감소했는지) 쌍체표본 t-검정(Paired t-test)을 통해 답하고자 한다.
- 가설검정 가설검정 만들기
    + 귀무가설 : 스프레이 뿌리기 전 곤충 수의 평균과 뿌린 후의 평균의 차가 0이다.
    + 대립가설 : 스프레이 뿌리기 전 곤충 수의 평균과 뿌린 후의 평균의 차가 0이 아니다.
- 데이터의 변수
    + before_spr : 살충제 뿌리기 전 곤충의 수
    + after_spr : 살충제 뿌린 뒤 곤충의 수
- 단, $\overline{\mu_{d}}$는 정규분포를 만족한다.
- 문제 1: 표본평균 $\overline{\mu_{d}}$의 표본 평균을 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)
- 문제 2: 위의 가설을 검정하기 위한 검정통계량을 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)
- 문제 3: 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import scipy.stats as stats
import math
from statistics import NormalDist
from scipy.stats import ttest_1samp
from scipy import stats

## 데이터 불러오기

In [6]:
import pandas as pd
data = pd.read_csv("c:/Archiving/IMDGB/step03_statistics/dataset/insectsprays.csv")
data.head()

   before_spr  after_spr
0          10          0
1           7          1
2          20          7
3          14          2
4          14          3

In [7]:
data.describe()

       before_spr  after_spr
count   36.000000  36.000000
mean    15.500000   3.500000
std      5.068108   2.348252
min      7.000000   0.000000
25%     11.750000   2.000000
50%     14.500000   3.000000
75%     19.250000   5.000000
max     26.000000  12.000000

In [9]:
np.mean(data['before_spr'])

np.float64(15.5)

In [10]:
np.mean(data['after_spr'])

np.float64(3.5)

## 문제 1
- 표본평균 $\overline{\mu_{d}}$의 표본 평균을 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)

In [11]:
result = round( np.mean(data['before_spr']) - np.mean(data['after_spr']), 2)
result

np.float64(12.0)

## 문제 2
- 위의 가설을 검정하기 위한 검정통계량을 구하시오. (반올림하여 소숫점 둘째 자리까지 계산)

In [12]:
from scipy import stats
t, p = stats.ttest_rel(data['before_spr'], data['after_spr'])
print(round(t, 2),round(p ,2))

14.89 0.0

## 문제 3.
- 위의 통계량에 대한 p-값을 구하고 (반올림하여 소숫점 넷째 자리까지 계산), 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나로 선택하시오.

In [13]:
print(round(p,2))

0.0

In [14]:
if p>= 0.05:
  print("귀무가설 채택")
else:
  print("귀무가설 기각 ==> 대립가설 채택")

귀무가설 기각 ==> 대립가설 채택